@tailwind base;

@font-face {
  font-family: "8-bit_pusabregular";
  src: url("/static/8-bit-pusab-webfont.woff2") format("woff2"),
    url("/static/8-bit-pusab-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  @apply my-4;
}

h1 {
  @apply text-2xl;
}

@tailwind components;

@tailwind utilities;
